<!DOCTYPE html>
<html>
<head>
    <title>Extractor de rutas</title>
</head>

<body>
    <h1>Descubrir Rutas</h1>
    <form method="POST" action="/">
        <label for="url">Introduzca una dirección</label>
        <input name="url" type="text"  required>
        <button type="submit">Enviar</button>
    </form>

    <h1>URLs</h1>
    <ul>
    {% for result in results %}
        <li>
            <a href="{{ result }}">{{ result }}</a>
        </li>
    {% endfor %}
    </ul>
</body>
</html>
